{% extends 'base.html.twig' %}

{% block hero %}
{% endblock %}

{% block body %}

<section id="add">
    <a href="{{ path('app_voitures_index') }}">← Retour</a>
    <h1>Ajouter une voiture</h1>
    {{ form_start(form) }}
    <div class="input">
        {{ form_row(form.name) }}
    </div>
    <div class="input">
        {{ form_row(form.description) }}
    </div>
    <div class="flex-input">
        <div class="input">
            {{ form_row(form.mensualPrice) }}
        </div>
        <div class="input">
            {{ form_row(form.dailyPrice) }}
        </div>
    </div>
    <div class="flex-input">
        <div class="input">
            {{ form_row(form.placesCapacity) }}
        </div>
        <div class="input">
            {{ form_row(form.transmissionType) }}
        </div>
    </div>
    <button type="submit" class="btn-add">Ajouter</button>
    {{ form_end(form) }}
</section>
{% endblock %}
